<div
  class="mt-3 py-1 cursor-pointer rounded-full hover:bg-gray-300 px-4 grid grid-cols-[repeat(7,minmax(0,1fr))_max-content] text-center items-center"
  (click)="onTradeClick(tradeEntry)"
>
  <div>
    {{ lastTrade.date | date: "MM/dd/yyyy" }}
  </div>
  <div>
    <div class="flex flex-wrap gap-0.5 justify-center">
      <span
        *ngFor="let tag of this.tags.slice(0, 2)"
        class="bg-amber-100 rounded-full px-2 mx-1"
        >{{ tag }}</span
      >
      <span *ngIf="tags.length >= 3" class="bg-amber-100 rounded-full px-2 mx-1"
        >...</span
      >
    </div>
  </div>
  <div>
    {{ tradeEntry.symbol }}
  </div>
  <div>
    {{ totalQuantity === 0 ? "closed" : totalQuantity }}
  </div>
  <div>
    {{ entryTotal | currency: "USD" }}
  </div>
  <div>
    {{ exitTotal | currency: "USD" }}
  </div>
  <div>
    {{ profit | currency: "USD" }}
  </div>
  <div>
    <button
      type="button"
      class="rounded-full text-red-700 border border-red-700 hover:bg-red-700 hover:text-white px-2 py-0.5 text-sm"
      (click)="deleteTrade(); $event.stopPropagation()"
    >
      X
    </button>
  </div>
</div>
