<div [formGroup]="tradeEntryForm" class="mt-4">
  <div class="flex flex-wrap items-center gap-2 mb-2">
    <span
      *ngFor="let tag of tags.controls; let i = index"
      class="inline-flex items-center text-sm font-medium rounded-full bg-amber-100 text-gray-800 px-3 py-1"
    >
      {{ tag.value.name }}
      <span
        class="ml-2 text-red-500 hover:text-red-700 font-bold cursor-pointer"
        (click)="removeTag(i)"
        >X</span
      >
    </span>

    <input
      type="text"
      [formControl]="this.tagEntryControl"
      name="tagEntry"
      (keydown.enter)="addTag()"
      placeholder="Add tag..."
      class="text-sm px-2 py-1 border border-amber-300 rounded-full focus:outline-none focus:ring-2 focus:ring-amber-400"
    />
  </div>
  <quill-editor
    class="w-full h-30"
    formControlName="notes"
    [modules]="{ toolbar: false }"
    [placeholder]="'Enter notes on this trade...'"
  ></quill-editor>
</div>
