<addt-modal-header></addt-modal-header>
<div class="p-4">
  <addt-modal-tab (switchTabEvent)="switchTab($event)"></addt-modal-tab>
  <div class="space-y-4">
    <addt-modal-form
      *ngIf="this.currentTab === 0"
      class="block"
      [tradeEntryForm]="this.tradeEntryForm"
    ></addt-modal-form>
    <addt-modal-notes
      *ngIf="this.currentTab === 1"
      class="block"
      [tradeEntryForm]="this.tradeEntryForm"
    ></addt-modal-notes>
  </div>
</div>
<addt-modal-footer
  [tradeEntry]="this.tradeEntry"
  [tradeEntryForm]="this.tradeEntryForm"
></addt-modal-footer>
