<div class="row mb-3" [formGroup]="this.tradeForm">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th></th>
        <th>Action</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody formArrayName="trades">
      <tr
        *ngFor="let trade of trades.controls; let i = index"
        [formGroupName]="i"
      >
        <td>
          <button
            *ngIf="i !== 0"
            type="button"
            class="btn btn-danger btn-sm rounded-circle"
            (click)="removeTradeRow(i)"
          >
            X
          </button>
        </td>
        <td>
          <select class="form-select" formControlName="action" required>
            <option value="" disabled selected>Select Action</option>
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
          </select>
        </td>
        <td>
          <input
            type="datetime-local"
            class="form-control"
            formControlName="date"
            required
          />
        </td>
        <td>
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
            required
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            formControlName="price"
            required
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="addTradeRow()">
      Add Trade Row
    </button>
  </div>
</div>
