<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="trade-details-tab"
      data-bs-toggle="tab"
      data-bs-target="#trade-details"
      type="button"
      role="tab"
    >
      Trade Details
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="trade-notes-tab"
      data-bs-toggle="tab"
      data-bs-target="#trade-notes"
      type="button"
      role="tab"
    >
      Notes
    </button>
  </li>
</ul>
