<form [formGroup]="tradeEntryForm" class="mt-3">
  <div class="flex flex-wrap -mx-2 mb-3">
    <div class="w-full md:w-1/2 px-2 mb-3 md:mb-0">
      <label for="tradeType" class="block text-sm font-medium text-gray-700">
        Trade Type
      </label>
      <select
        id="tradeType"
        class="mt-1 p-1.5 w-full rounded-md shadow-sm"
        formControlName="type"
        required
      >
        <option value="" disabled selected>Select Trade Type</option>
        <option value="stock">Stock</option>
        <option value="option">Option</option>
      </select>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label for="symbol" class="block text-sm font-medium text-gray-700">
        Symbol
      </label>
      <input
        id="symbol"
        class="mt-1 p-1.5 w-full rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
        formControlName="symbol"
        required
      />
    </div>
  </div>

  <addt-modal-details-list
    [tradeForm]="tradeEntryForm"
  ></addt-modal-details-list>
</form>
