<table class="w-full text-center border-separate">
  <thead class="bg-gray-100 upp">
    <tr>
      <th class="p-1.5">Date</th>
      <th class="p-1.5">Tags</th>
      <th class="p-1.5">Symbol</th>
      <th class="p-1.5">Quantity</th>
      <th class="p-1.5">Entry Total</th>
      <th class="p-1.5">Exit Total</th>
      <th class="p-1.5">Profit</th>
      <th><!-- For delete button --></th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="cursor-pointer hover:bg-gray-200"
      *ngFor="let tradeEntry of tradeEntries"
      app-simple-trade-view
      [tradeEntry]="tradeEntry"
      (click)="onTradeClick(tradeEntry)"
    ></tr>
  </tbody>
</table>
