<div
  class="px-4 py-2 grid grid-cols-[repeat(7,minmax(0,1fr))_max-content] text-center items-center border-b rounded-b-2xl"
>
  <div>Date</div>
  <div>Tags</div>
  <div>Symbol</div>
  <div>Quantity</div>
  <div>Entry Total</div>
  <div>Exit Total</div>
  <div>Profit</div>
  <div class="px-3 py-1"><!-- For delete button --></div>
</div>
<p *ngIf="tradeEntries.length === 0" class="text-center text-gray-500 my-4">
  No trades available
</p>

<app-simple-trade-view
  *ngFor="let tradeEntry of tradeEntries"
  [tradeEntry]="tradeEntry"
></app-simple-trade-view>
