<div class="d-flex">
  <nav class="navbar navbar-light bg-light flex-column vh-100 border-end p-5">
    <div>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <button class="btn btn-primary" (click)="openAddTradeModal()">
        + Add Trade
      </button>
    </div>
  </nav>
</div>
